.fltz-error {
	background-color: red;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
}

/* Product */

div.fltz-product-wrapper {
	margin: 0;
	border-style: solid;
	border-width: 1px;
}

div.fltz-product-image img {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	display: block;
}

div.fltz-product-information {
	padding: 20px;
	text-align: center;
}

div.fltz-product-description {
	margin-bottom: 20px;
}

div.fltz-product-price {
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 20px;
	padding: 10px 0;
	font-size: 28px;
}

button.fltz-product-button {
	margin-bottom: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 15px;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	font-size: 14px;
}

button.fltz-product-button:hover {
	background-color: transparent;
	opacity: 0.9;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.fltz-shadow {
	-webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    5px 5px 0px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         5px 5px 0px 0px rgba(50, 50, 50, 0.1);
}

div.fltz-product-wrapper .fltz-paypal-logo {
	display: block;
	margin-top: 20px;
}

div.fltz-product-wrapper .fltz-paypal-logo img {
	width: 75px;
	margin-left: auto;
	margin-right: auto;
}

/* Button */

button.fltz-button {
	margin-bottom: 15px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 15px;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	font-size: 14px;
}

button.fltz-button:hover {
	background-color: transparent;
	opacity: 0.9;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

button.fltz-button .fltz-button-price {
	background-color: rgba(0,0,0,0.1);
	padding: 6px;
}

div.fltz-button-wrapper .fltz-paypal-logo img {
	width: 75px;
	margin-left: 5px;
}